# QF 625 Introduction to Programming
## Exercise 1 | `Questions`

> Hi Team,

> As I mentioned in my class note, the current script contains questions to help you to consolidate your learning up to this point. 

> On the one hand, this will be a good revision of what you have learned from the lessons (and assigned readings). On the other hand, these exercise questions are also designed as a pathway to your learning in the upcoming week’s lessons. 

> It may be that you cannot answer every question. If you are unsure about how to answer a question, look for clues in the assigned readings. I'll give you further guidance to the answers in upcoming weeks’ lessons.

> To maximize your learning, the answers will be given to you in a review session during Lessson 4 on Monday.

### Please import necessary libraries

In [169]:
import pandas as pd
from IPython.display import display, HTML
# https://pandas.pydata.org/pandas-docs/stable/reference/frame.html

### Please read `data_exercise1.csv`

In [170]:
data = pd.read_csv("data_exercise1.csv");
display('head', data.head()) #get first 5 rows
display('tail', data.tail()) #get last 5 rows
display('sample', data.sample(5)) #get random 5 rows
display('describe', data.describe()) #overview of data
display('ndim', data.ndim) #number of axes / array dimensions.
display('index', data.index) 
display('columns', data.columns) 
display('size', data.size) 
display('shape', data.shape)
display('memory usage', data.memory_usage(deep=True))
display('empty', data.empty)
display('at', data.at[0,'Order ID']) #Access a single value for a row/column label pair.
display('iat', data.iat[0,1]) #Access a single value for a row/column pair by integer position.
display('loc', data.loc[3])# Access a group of rows and columns by label(s) or a boolean array.
display('iloc', data.iloc[0,1])# Purely integer-location based indexing for selection by position.

'head'

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"

'tail'

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
186845,259353,AAA Batteries (4-pack),3,2.99,09/17/19 20:56,"840 Highland St, Los Angeles, CA 90001"
186846,259354,iPhone,1,700,09/01/19 16:00,"216 Dogwood St, San Francisco, CA 94016"
186847,259355,iPhone,1,700,09/23/19 07:39,"220 12th St, San Francisco, CA 94016"
186848,259356,34in Ultrawide Monitor,1,379.99,09/19/19 17:30,"511 Forest St, San Francisco, CA 94016"
186849,259357,USB-C Charging Cable,1,11.95,09/30/19 00:18,"250 Meadow St, San Francisco, CA 94016"

'sample'

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
83471,228838,AAA Batteries (4-pack),1,2.99,07/27/19 19:33,"515 Walnut St, Los Angeles, CA 90001"
69241,142845,34in Ultrawide Monitor,1,379.99,01/03/19 17:53,"67 2nd St, Seattle, WA 98101"
38632,303520,iPhone,1,700,12/21/19 18:53,"800 Hill St, Los Angeles, CA 90001"
158440,262841,Wired Headphones,1,11.99,10/26/19 12:21,"1 12th St, New York City, NY 10001"
115090,171398,AA Batteries (4-pack),1,3.84,03/28/19 12:35,"373 Dogwood St, Los Angeles, CA 90001"

'describe'

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
count,186305,186305,186305,186305,186305,186305
unique,178438,20,10,24,142396,140788
top,Order ID,USB-C Charging Cable,1,11.95,Order Date,Purchase Address
freq,355,21903,168552,21903,355,355

'ndim'

2

'index'

RangeIndex(start=0, stop=186850, step=1)

'columns'

Index(['Order ID', 'Product', 'Quantity Ordered', 'Price Each', 'Order Date',
       'Purchase Address'],
      dtype='object')

'size'

1121100

'shape'

(186850, 6)

'memory usage'

Index                    128
Order ID            11755365
Product             14312320
Quantity Ordered    12316055
Price Each          11483214
Order Date          13243675
Purchase Address    16933522
dtype: int64

'empty'

False

'at'

'176558'

'iat'

'USB-C Charging Cable'

'loc'

Order ID                                          176560
Product                                     Google Phone
Quantity Ordered                                       1
Price Each                                           600
Order Date                                04/12/19 14:38
Purchase Address    669 Spruce St, Los Angeles, CA 90001
Name: 3, dtype: object

'iloc'

'USB-C Charging Cable'

### ***Now let's clean up the dataset :)***

> The first step in this exercise is figuring out what we need to clean.

### Question 1. Please remove rows of NAN

In [171]:
def nans(df): return df[df.isnull().any(axis=1)]
display('check for rows with nans value', nans(data))
data2 = data.dropna()
display(data2)

'check for rows with nans value'

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
1,NaN,NaN,NaN,NaN,NaN,NaN
356,NaN,NaN,NaN,NaN,NaN,NaN
735,NaN,NaN,NaN,NaN,NaN,NaN
1433,NaN,NaN,NaN,NaN,NaN,NaN
1553,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
185176,NaN,NaN,NaN,NaN,NaN,NaN
185438,NaN,NaN,NaN,NaN,NaN,NaN
186042,NaN,NaN,NaN,NaN,NaN,NaN
186548,NaN,NaN,NaN,NaN,NaN,NaN
186826,NaN,NaN,NaN,NaN,NaN,NaN

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001"
...,...,...,...,...,...,...
186845,259353,AAA Batteries (4-pack),3,2.99,09/17/19 20:56,"840 Highland St, Los Angeles, CA 90001"
186846,259354,iPhone,1,700,09/01/19 16:00,"216 Dogwood St, San Francisco, CA 94016"
186847,259355,iPhone,1,700,09/23/19 07:39,"220 12th St, San Francisco, CA 94016"
186848,259356,34in Ultrawide Monitor,1,379.99,09/19/19 17:30,"511 Forest St, San Francisco, CA 94016"
186849,259357,USB-C Charging Cable,1,11.95,09/30/19 00:18,"250 Meadow St, San Francisco, CA 94016"

### Question 2. Please remove text in `Order Date` column

In [172]:
display('data2', data2['Order Date'])

# Check 'Order Date' Columns with String
dataWithString = data2["Order Date"].str.contains('Order') 
dataWithString2 = data2["Order Date"].str[0:3] == 'Ord'
# dataWithString3 = data2["Order Date"].str.contains('^[^a-zA-Z]').any
display('data2 order data with string', dataWithString)
display('data2 order data with string method 2', dataWithString2)
# display('data2 order data with string method 3', dataWithString3)

# Show all rows with string in 'Order Date' columns
data3 = data2[dataWithString2]
display('data3', data3)
display('data3 loc', data3.loc[519])

# Remove all rows with string
data4 = pd.merge(data2,data3, indicator=True, how='outer').query('_merge=="left_only"').drop('_merge', axis=1)
display('data4', data4.head())

'data2'

0         04/19/19 08:46
2         04/07/19 22:30
3         04/12/19 14:38
4         04/12/19 14:38
5         04/30/19 09:27
               ...
186845    09/17/19 20:56
186846    09/01/19 16:00
186847    09/23/19 07:39
186848    09/19/19 17:30
186849    09/30/19 00:18
Name: Order Date, Length: 186305, dtype: object

'data2 order data with string'

0         False
2         False
3         False
4         False
5         False
          ...
186845    False
186846    False
186847    False
186848    False
186849    False
Name: Order Date, Length: 186305, dtype: bool

'data2 order data with string method 2'

0         False
2         False
3         False
4         False
5         False
          ...
186845    False
186846    False
186847    False
186848    False
186849    False
Name: Order Date, Length: 186305, dtype: bool

'data3'

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
519,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
1149,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
1155,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
2878,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
2893,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
...,...,...,...,...,...,...
185164,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
185551,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
186563,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
186632,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
186738,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address

'data3 loc'

Order ID                    Order ID
Product                      Product
Quantity Ordered    Quantity Ordered
Price Each                Price Each
Order Date                Order Date
Purchase Address    Purchase Address
Name: 519, dtype: object

'data4'

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
2,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
3,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001"

### Question 3. Please make columns correct type: namely, make `Quantity Ordered` and `Price Each` as numeric data types.

In [173]:
display('before Quantity Ordered', data4['Quantity Ordered'])
data4['Quantity Ordered'] = pd.to_numeric(data4['Quantity Ordered'], errors='coerce')
display('after Quantity Ordered', data4['Quantity Ordered'])

display('before Price Each', data4['Price Each'])
data4['Price Each'] = pd.to_numeric(data4['Price Each'], errors='coerce')
display('after Price Each', data4['Price Each'])

'before Quantity Ordered'

0         2
1         1
2         1
3         1
4         1
         ..
311970    3
311971    1
311972    1
311973    1
311974    1
Name: Quantity Ordered, Length: 185950, dtype: object

'after Quantity Ordered'

0         2
1         1
2         1
3         1
4         1
         ..
311970    3
311971    1
311972    1
311973    1
311974    1
Name: Quantity Ordered, Length: 185950, dtype: int64

'before Price Each'

0          11.95
1          99.99
2            600
3          11.99
4          11.99
           ...
311970      2.99
311971       700
311972       700
311973    379.99
311974     11.95
Name: Price Each, Length: 185950, dtype: object

'after Price Each'

0          11.95
1          99.99
2         600.00
3          11.99
4          11.99
           ...
311970      2.99
311971    700.00
311972    700.00
311973    379.99
311974     11.95
Name: Price Each, Length: 185950, dtype: float64

### ***Let's create additional columns (variables) for your data exploration.***

### Question 4. Please add `Month` column: Create the `Month` from `Order Date` column

In [196]:
display(data4['Order Date'])
data4['Month'] = data4['Order Date'].str[0:2]
display(data4)

0         04/19/19 08:46
1         04/07/19 22:30
2         04/12/19 14:38
3         04/12/19 14:38
4         04/30/19 09:27
               ...
311970    09/17/19 20:56
311971    09/01/19 16:00
311972    09/23/19 07:39
311973    09/19/19 17:30
311974    09/30/19 00:18
Name: Order Date, Length: 185950, dtype: object

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,City,Gross Revenue,Month
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",Dallas TX,23.90,04
1,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",Boston MA,99.99,04
2,176560,Google Phone,1,600.00,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",Los Angeles CA,600.00,04
3,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",Los Angeles CA,11.99,04
4,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001",Los Angeles CA,11.99,04
...,...,...,...,...,...,...,...,...,...
311970,259353,AAA Batteries (4-pack),3,2.99,09/17/19 20:56,"840 Highland St, Los Angeles, CA 90001",Los Angeles CA,8.97,09
311971,259354,iPhone,1,700.00,09/01/19 16:00,"216 Dogwood St, San Francisco, CA 94016",San Francisco CA,700.00,09
311972,259355,iPhone,1,700.00,09/23/19 07:39,"220 12th St, San Francisco, CA 94016",San Francisco CA,700.00,09
311973,259356,34in Ultrawide Monitor,1,379.99,09/19/19 17:30,"511 Forest St, San Francisco, CA 94016",San Francisco CA,379.99,09
311974,259357,USB-C Charging Cable,1,11.95,09/30/19 00:18,"250 Meadow St, San Francisco, CA 94016",San Francisco CA,11.95,09

### Question 5. Please add `City` column: Create the `City` from `Purchase Address` column

In [198]:
display(data4['Purchase Address'])
city_name = data4['Purchase Address'].str.split(", ").str[1]
city_code = data4['Purchase Address'].str.split(", ").str[2]
data4['City'] = city_name + ' ' + city_code.str[0:2]
display(data4)

0                    917 1st St, Dallas, TX 75001
1               682 Chestnut St, Boston, MA 02215
2            669 Spruce St, Los Angeles, CA 90001
3            669 Spruce St, Los Angeles, CA 90001
4               333 8th St, Los Angeles, CA 90001
                           ...
311970     840 Highland St, Los Angeles, CA 90001
311971    216 Dogwood St, San Francisco, CA 94016
311972       220 12th St, San Francisco, CA 94016
311973     511 Forest St, San Francisco, CA 94016
311974     250 Meadow St, San Francisco, CA 94016
Name: Purchase Address, Length: 185950, dtype: object

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,City,Gross Revenue,Month
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",Dallas TX,23.90,04
1,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",Boston MA,99.99,04
2,176560,Google Phone,1,600.00,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",Los Angeles CA,600.00,04
3,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",Los Angeles CA,11.99,04
4,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001",Los Angeles CA,11.99,04
...,...,...,...,...,...,...,...,...,...
311970,259353,AAA Batteries (4-pack),3,2.99,09/17/19 20:56,"840 Highland St, Los Angeles, CA 90001",Los Angeles CA,8.97,09
311971,259354,iPhone,1,700.00,09/01/19 16:00,"216 Dogwood St, San Francisco, CA 94016",San Francisco CA,700.00,09
311972,259355,iPhone,1,700.00,09/23/19 07:39,"220 12th St, San Francisco, CA 94016",San Francisco CA,700.00,09
311973,259356,34in Ultrawide Monitor,1,379.99,09/19/19 17:30,"511 Forest St, San Francisco, CA 94016",San Francisco CA,379.99,09
311974,259357,USB-C Charging Cable,1,11.95,09/30/19 00:18,"250 Meadow St, San Francisco, CA 94016",San Francisco CA,11.95,09

### ***Now, let's explore our data***

### Question 6: What was the best month for the business? How much was earned that month? Please use `Quantity Ordered` and `Price Each` columns to create a new column (variable) `Gross Revenue`.

In [203]:
data4['Gross Revenue'] = data4['Quantity Ordered'] * data4['Price Each']
data5 = data4.groupby('Month').sum()
display(data5)
display(data5['Gross Revenue', ''])

       Quantity Ordered    Price Each  Gross Revenue
Month
01                10903  1.811768e+06   1.822257e+06
02                13449  2.188885e+06   2.202022e+06
03                17005  2.791208e+06   2.807100e+06
04                20558  3.367671e+06   3.390670e+06
05                18667  3.135125e+06   3.152607e+06
06                15253  2.562026e+06   2.577802e+06
07                16072  2.632540e+06   2.647776e+06
08                13448  2.230345e+06   2.244468e+06
09                13109  2.084992e+06   2.097560e+06
10                22703  3.715555e+06   3.736727e+06
11                19798  3.180601e+06   3.199603e+06
12                28114  4.588415e+06   4.613443e+06

Month
01    1.822257e+06
02    2.202022e+06
03    2.807100e+06
04    3.390670e+06
05    3.152607e+06
06    2.577802e+06
07    2.647776e+06
08    2.244468e+06
09    2.097560e+06
10    3.736727e+06
11    3.199603e+06
12    4.613443e+06
Name: Gross Revenue, dtype: float64

### Question 7. Please create a vertical bar plot that summarizes the monthly gross revenue.

### Question 8: What `City` sold the most product based on `Quantity Ordered` and `Gross Revenue`?

### Question 9. Please visualize the above results with horizontal bar plot.

### Question 10: What time should we display ads to maximize likelihood of customer's buying product? Please create a new variable `Hour` from column `Order Date`

### Question 11. Please visualize the results of your analysis above.

> `Thank you for working with the script :)`

In [ ]:
exit()